COUNTRIES_API_URL=https://restcountries.eu/rest/v2/all
REGIONS_API_URL=https://comuni-ita.herokuapp.com/api/regioni
PROVINCES_API_URL=https://comuni-ita.herokuapp.com/api/province

NODE_ICU_DATA=node_modules/full-icu

API_URL=http://localhost:3333
SOCKET_URL=ws://localhost:3333
APP_CLIENT_KEY=7BpSpC4q8gg2QSR
# API_URL=https://global-group-api.herokuapp.com/

FAVICON_VERSION=
BETA=
