// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$btn-text-transform: none;
$card-border-radius: 10px;
$menu-content-border-radius: 10px;
$tabs-bar-background-color: transparent;

$material-light: (
  "background": #F7F7F7,
  "app-bar": #F7F7F7,
  "navigation-drawer": #071D2A,
);

$material-dark: (
  "background": #F7F7F7,
  "app-bar": #F7F7F7,
  "navigation-drawer": #071D2A
)
